#control {
  color: #808080;
}
a {
  color: #8fc0ff;
  -webkit-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
#backface {
  -webkit-transition: none;
          transition: none;
}
[layout=code] .hljs-comment {
  color: #555;
}
[layout][invert] a:link,
[layout][invert] a:visited,
[layout][invert] a:active {
  color: #8fc0ff;
}
[layout][invert] a:hover {
  color: #c7e0ff;
}
[layout=bullets] h1,
[layout=bullets-invert] h1,
[layout=bullets] h2,
[layout=bullets-invert] h2,
[layout=bullets] h3,
[layout=bullets-invert] h3,
[layout=bullets] h4,
[layout=bullets-invert] h4,
[layout=bullets] h5,
[layout=bullets-invert] h5,
[layout=bullets] h6,
[layout=bullets-invert] h6 {
  margin-top: 30px;
}
strong {
  color: #f00;
}
[layout=code] {
  color: #fff;
}
[layout=code] .hljs-comment {
  color: #555;
}
p > code,
li > code {
  background: #f3f3f3;
  border: 1px solid #add8e6;
  border-radius: 3px;
  padding: 3px 6px;
  font-size: 0.8em;
  color: #333;
}
[layout][invert] code,
[layout$=invert] code {
  background: #555;
  color: #fff;
}
[layout][invert] strong,
[layout$=invert] strong {
  color: #ff8080;
}
[layout] table {
  font-size: 10px;
}
[layout] table th {
  background-color: #666;
  color: #fff;
  font-weight: bold;
}
[layout] table td {
  white-space: nowrap;
  padding: 0.6em;
}
.m0 > * {
  margin-left: 0;
  margin-right: 0;
}
.yoshiko {
  width: 250px;
}
.company-logo {
  height: 3rem;
  vertical-align: middle;
  margin-left: 3px;
}
.book img {
  height: 55%;
  margin: -20px auto;
}
.align-center {
  text-align: center;
}
.minimum {
  display: inline-block;
  margin: 30px auto;
}
.minimum li {
  font-size: 1.2rem;
  color: #666;
}
.center::before,
.outer::before,
.center::after,
.outer::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.center::before,
.outer::before {
  height: 50%;
  border-bottom: 1px solid #00f;
}
.center::after,
.outer::after {
  width: 50%;
  border-right: 1px solid #00f;
}
.center > *,
.outer > * {
  margin: 0;
  border: 1px solid #f00;
  padding: 0.5em 1em;
  background: #fff;
  z-index: 1;
}
.outer {
  width: 50%;
  height: 50%;
  border: 1px solid #000;
  position: relative;
}
.outer::before {
  border-bottom: 1px dashed #00f;
}
.outer::after {
  border-right: 1px dashed rgba(0,0,255,0.8);
}
.inner {
  background: #ff0;
  border: none;
}
.negative .inner {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
.negative.step-1 .inner {
  margin: 0;
}
.negative.step-2 .inner {
  margin: 0 0 0 -100px;
}
.auto .inner {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.transform .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.transform.step-1 .inner {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.table .outer {
  display: table;
  width: 100%;
}
.table .between {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.table .inner {
  display: inline-block;
}
.flex .outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
