<html>
<head>
  <title>TODO: タイトル入れる - @yoshiko_pg</title>
  <link rel="stylesheet" href="lib/talkie.min.css">
  <link rel="stylesheet" href="lib/talkie-default.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="lib/hljs-styles/railscasts.css">
</head>
<body>


<script layout="cover" invert type="text/x-markdown"
  backface="image/cover.jpg" backface-filter="blur(2px) brightness(.7)">
# ここにタイトル

2015.XX.XX [@yoshiko_pg](http://yoshiko-pg.github.io)
</script>


<script layout="bullets" invert type="text/x-markdown"
  backface="image/bg-profile.png" backface-filter="blur(2px) brightness(.4)">

## 自己紹介

<img src="./image/yoshiko.png" class="yoshiko">

よしこ [@yoshiko_pg](https://twitter.com/yoshiko_pg)

Frontend engineer at <a href="http://goodpatch.com/jp"><img src="./image/goodpatch.png" class="company-logo"></a>

*背景：[プログラミング言語チェックシートメーカー](http://yoshiko-pg.github.io/checksheetmaker/)*
</script>


<script layout="bullets" type="text/x-markdown" class="book m0">
[HTML5/CSS3 モダンコーディング](http://yoshiko.hatenablog.jp/entry/2015/11/02/081237) という本を出しました

[![HTML5/CSS3 モダンコーディング](./image/book.jpg)](http://www.amazon.co.jp/dp/4798141577/)

好評発売中！電子版もあるよ！
</script>


<script layout="bullets" type="text/x-markdown">
## なんか書く
</script>


<script layout="title-invert" invert type="text/x-markdown"
  backface="image/goodpatch-bg.png" backface-filter="blur(5px) brightness(.5)" class="goodpatch">

### Goodpatchでは中央寄せに消耗しない<br>フロントエンドエンジニアを募集しています

[www.wantedly.com/projects/16402](https://www.wantedly.com/projects/16402)

1月から新フロア増床！オフィスにあそびにきてね！

[学生さん向けに冬のインターンもやります！](https://www.wantedly.com/projects/36592)
</script>


<script layout="cover" invert type="text/x-markdown"
  backface="image/end.gif" backface-filter="blur(3px) brightness(.4)">
# Thank you
[@yoshiko_pg](http://yoshiko-pg.github.io/)
</script>


<script layout="bullets-invert" type="text/x-markdown">
# おまけ
</script>


<script layout="bullets-invert" type="text/x-markdown">
## なんか書く
</script>




<script src="lib/highlight.min.js"></script>
<script src="lib/talkie.min.js"></script>
<script>
Talkie();

// リンクは別タブ
var i, links = document.querySelectorAll("a[href^='http']")
for(i=0; i<links.length; i++) {
  links[i].setAttribute('target', '_blank');
}
</script>
</script>
</body>
</html>
