@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

[layout][invert] a:link,
[layout][invert] a:visited,
[layout][invert] a:hover,
[layout][invert] a:active {
  color: #779FF5;
}

#control {
  color: rgb(165, 160, 118);
}

[layout=code] .hljs-comment {
  color: #555;
}

.m0 * {
  margin-left: 0;
  margin-right: 0;
}

.yoshiko * {
  font-family: 'Titillium Web',NotoSansCJKjp-Light,Open Sans,Hiragino Kaku Gothic ProN,Meiryo,sans-serif !important;
  font-weight: normal !important;
}

[layout] iframe {
  width: 640px;
  height: 480px;
}

.goodpatch h3 {
  font-family:NotoSansCJKjp-Light,Open Sans,Hiragino Kaku Gothic ProN,Meiryo,sans-serif;
}
[layout].goodpatch a:link,
[layout].goodpatch a:visited,
[layout].goodpatch a:hover,
[layout].goodpatch a:active {
  color: #C7E6FF;
}
