#control {
  color: #808080;
}
a {
  color: #8fc0ff;
  -webkit-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
[layout=code] .hljs-comment {
  color: #555;
}
[layout][invert] a:link,
[layout][invert] a:visited,
[layout][invert] a:active {
  color: #8fc0ff;
}
[layout][invert] a:hover {
  color: #c7e0ff;
}
.m0 * {
  margin: 0;
}
.yoshiko {
  width: 250px;
}
.company-logo {
  height: 3rem;
  vertical-align: middle;
  margin-left: 3px;
}
.book img {
  height: 55%;
  margin: -20px auto;
}
.resizable {
  resize: both;
  border: 3px solid #00f;
  width: 50%;
  height: 53%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.resizable::before {
  content: 'drag me!';
  display: block;
  position: absolute;
  right: 7px;
  bottom: 11px;
  font-size: 1rem;
  color: #fff;
  background: #67aaff;
  border-radius: 20px;
  padding: 3px 10px;
  font-weight: bold;
  z-index: 1;
}
.resizable::after {
  content: '';
  display: block;
  position: absolute;
  right: 5px;
  bottom: 1px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 10px solid #67aaff;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.resizable img {
  max-width: 100%;
}
.resizable.clear-2 > * {
  float: left;
  width: calc(100% / 2 - 10px);
  margin: 5px;
}
.resizable.clear-2 > * *:nth-of-type(2n+1) {
  clear: both;
}
.resizable.clear-3 > * {
  float: left;
  width: calc(100% / 3 - 10px);
  margin: 5px;
}
.resizable.clear-3 > * *:nth-of-type(3n+1) {
  clear: both;
}
.resizable.clear-4 > * {
  float: left;
  width: calc(100% / 4 - 10px);
  margin: 5px;
}
.resizable.clear-4 > * *:nth-of-type(4n+1) {
  clear: both;
}
.resizable.clear-5 > * {
  float: left;
  width: calc(100% / 5 - 10px);
  margin: 5px;
}
.resizable.clear-5 > * *:nth-of-type(5n+1) {
  clear: both;
}
.resizable.clear-6 > * {
  float: left;
  width: calc(100% / 6 - 10px);
  margin: 5px;
}
.resizable.clear-6 > * *:nth-of-type(6n+1) {
  clear: both;
}
.box {
  background: #808080;
  position: relative;
}
.box::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.box.bad {
  height: 100%;
}
.box.bad::before {
  display: none;
}
.box.box-4-3::before {
  padding-top: 75%;
}
.box.box-6-4::before {
  padding-top: 66.66666666666667%;
}
.box .inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 6%;
}
.box strong {
  color: #ff0;
}
