#control {
  color: #808080;
}
a {
  color: #8fc0ff;
  -webkit-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
#backface {
  -webkit-transition: none;
          transition: none;
}
[layout=code] .hljs-comment {
  color: #555;
}
[layout][invert] a:link,
[layout][invert] a:visited,
[layout][invert] a:active {
  color: #8fc0ff;
}
[layout][invert] a:hover {
  color: #c7e0ff;
}
[layout=bullets] h1,
[layout=bullets-invert] h1,
[layout=bullets] h2,
[layout=bullets-invert] h2,
[layout=bullets] h3,
[layout=bullets-invert] h3,
[layout=bullets] h4,
[layout=bullets-invert] h4,
[layout=bullets] h5,
[layout=bullets-invert] h5,
[layout=bullets] h6,
[layout=bullets-invert] h6 {
  margin-top: 30px;
}
strong {
  color: #f00;
}
[layout=code] {
  color: #fff;
}
[layout=code] .hljs-comment {
  color: #555;
}
p > code,
li > code {
  background: #f3f3f3;
  border: 1px solid #add8e6;
  border-radius: 3px;
  padding: 3px 6px;
  font-size: 0.8em;
  color: #333;
}
[layout][invert] code,
[layout$=invert] code {
  background: #555;
  color: #fff;
}
[layout][invert] strong,
[layout$=invert] strong {
  color: #ff8080;
}
[layout] table {
  font-size: 10px;
}
[layout] table th {
  background-color: #666;
  color: #fff;
  font-weight: bold;
}
[layout] table td {
  white-space: nowrap;
  padding: 0.6em;
}
.m0 > * {
  margin-left: 0;
  margin-right: 0;
}
.yoshiko {
  width: 300px;
  background-color: #fff;
  border-radius: 50%;
}
.company-logo {
  height: 3rem;
  vertical-align: middle;
  margin-left: 3px;
}
.book img {
  height: 55%;
  margin: -20px auto;
}
[layout=cover]:nth-of-type(1) h1 {
  display: none;
}
[layout=cover]:nth-of-type(1) p {
  -webkit-transform: translate(-2rem, 17rem);
      -ms-transform: translate(-2rem, 17rem);
          transform: translate(-2rem, 17rem);
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #090a10;
  background: rgba(255,255,255,0.9);
  border-radius: 1rem;
  text-shadow: none;
  padding: 0.3rem 1rem;
  box-shadow: 0 0 20px 6px #fff;
}
[layout=cover]:nth-of-type(1) p a:link,
[layout=cover]:nth-of-type(1) p a:visited,
[layout=cover]:nth-of-type(1) p a:hover,
[layout=cover]:nth-of-type(1) p a:active {
  margin-left: 0.5rem;
  color: inherit;
}
[layout] h1,
[layout] h2,
[layout] h3,
[layout] h4,
[layout] h5,
[layout] h6 {
  font-family: inherit;
}
[body-bg=es2015],
[body-bg=es2015] #backface {
  background: #f9db3d;
}
[layout=es2015] {
  color: #2e2e2c;
}
[layout=es2015] * {
  font-weight: bold;
  white-space: nowrap;
}
[layout=es2015] h1 {
  font-weight: bold;
  font-size: 10rem;
  letter-spacing: 0.3rem;
}
