#control {
  color: #808080;
}
a {
  color: #8fc0ff;
  -webkit-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
[layout=code] .hljs-comment {
  color: #555;
}
[layout][invert] a:link,
[layout][invert] a:visited,
[layout][invert] a:active {
  color: #8fc0ff;
}
[layout][invert] a:hover {
  color: #c7e0ff;
}
.wide-list {
  margin-left: 0;
  margin-right: 0;
}
.yoshiko {
  width: 250px;
}
.company-logo {
  height: 3rem;
  vertical-align: middle;
  margin-left: 3px;
}
.book img {
  height: 55%;
  margin: -20px auto;
}
