<html>
<head>
  <title>AngularJSの$watch登録数が60,000だった - @yoshiko_pg</title>
  <link rel="stylesheet" href="lib/talkie.min.css">
  <link rel="stylesheet" href="lib/talkie-default.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="lib/hljs-styles/railscasts.css">
</head>
<body>


<script layout="cover" invert type="text/x-markdown"
  backface="image/cover.jpg" backface-filter="blur(2px) brightness(.7)">
# AngularJSの$watch登録数が60,000だった

2015.10.15 [@yoshiko_pg](http://yoshiko-pg.github.io)

[Goodpatch Engineer Meetup Vol.1](http://goodpatch.connpass.com/event/20857/)
</script>


<script layout="bullets" invert type="text/x-markdown"
  backface="image/bg-profile.png" backface-filter="blur(2px) brightness(.4)">

## 自己紹介

<img src="./image/yoshiko.png" class="yoshiko">

よしこ [@yoshiko_pg](https://twitter.com/yoshiko_pg)

Frontend engineer at <a href="http://goodpatch.com/jp"><img src="./image/goodpatch.png" class="company-logo"></a>

</script>


<script layout="bullets" type="text/x-markdown" class="m0">
### 今日話すこと

　

* AngularJSのパフォーマンスを改善した思い出
  * $watchの登録数を減らすのに有効な施策
  * AngularJSで重くなりがちなアンチパターン
</script>


<script layout type="text/x-markdown" class="m0">
2015年6月1日

　

フロントエンドエンジニアとしてGoodpatchに入社しました
</script>


<script layout="cover" invert type="text/x-markdown"
  backface="image/prott.png" backface-filter="">
</script>


<script layout="bullets" type="text/x-markdown">
## Prott

* Web App
* iOS App
* Android App
* Mac App
</script>


<script layout="bullets" type="text/x-markdown">
## Prott Web

* AngularJS
* CoffeeScript
* Jade
* Sass (SCSS)
</script>


<script layout="bullets-invert" type="text/x-markdown">
## 入社して最初のミッション
</script>


<script layout="bullets" type="text/x-markdown">
## 「Prott重いんだよね」
</script>


<script layout="bullets" type="text/x-markdown">
## 「パフォーマンスチューニングよろしく！」
</script>


<script layout="bullets-invert" type="text/x-markdown"
  backface="image/nya.jpg" backface-filter="blur(1px) brightness(.5)">
## なるほど
</script>


<script layout="bullets" type="text/x-markdown">
## とりあえず現状把握
</script>


<script layout="bullets" type="text/x-markdown">
Angularが重くなる代表的な原因のひとつ

　

### $watch登録数多すぎ問題
</script>


<script layout="bullets" type="text/x-markdown">
### AngularJSの$watchとは？

双方向バインディングを実現する仕組み。  

* データバインドしたい値を``$scope.$watch()``で登録
* 特定のきっかけで、$watchに登録されたすべての式を値が定まるまで評価（2~10回）
  * DOMイベント
  * AngularJSのタイマー($timeout, $interval)発火
  * AngularJSのAjax($http, $resource)でレスポンスが返る
  * AngularJSの$locationでURLが変わる
* 変更があった値をビューに反映
</script>


<script layout="bullets" type="text/x-markdown">
ng-bindなんかは直接``$scope.$watch()``使ってないけど、  
Angular側がコンパイルするときかわりに内部で  
$watchで登録しているため数にカウントされる。

毎回すべての式の評価が何度も走る(digest loop)ので、$watchへの登録が多ければ重くなる。  

指標としては2,000個以下に保っておきたいところ

*詳しくは：[AngularJSのパフォーマンス改善入門](http://qiita.com/zoetro/items/5156aef51222e81dd022)*
</script>


<script layout="bullets" type="text/x-markdown">
$watch登録数調査にはChrome拡張を使用すると便利
</script>


<script layout invert type="text/x-markdown"
  backface="image/angular-watchers.png" backface-filter="blur(1px) brightness(.3)">
### [Angular watchers](https://chrome.google.com/webstore/detail/angular-watchers/nlmjblobloedpmkmmckeehnbfalnjnjk)

調べたいページで開発者ツールのタブを開くだけで
$watch登録数がわかるすぐれもの  
　  
潔いほどの単機能
</script>


<script layout invert type="text/x-markdown"
  backface="image/angular-batarang.png" backface-filter="blur(1px) brightness(.3)">
### [AngularJS Batarang](https://chrome.google.com/webstore/detail/angularjs-batarang/ighdmehidhipcmcojjgiloacoafjmpfk)

こっちはとても有名なんですが  
去年辺りから使えないようです
</script>


<script layout="bullets-invert" type="text/x-markdown">
## いざ調査！
</script>


<script layout="bullets" type="text/x-markdown">
## 特に重かった画面

* プロジェクト一覧画面
* グループ機能画面
</script>


<script layout invert type="text/x-markdown"
  backface="image/prott-projects.png" backface-filter="blur(1px) brightness(.4)">
## プロジェクト一覧画面
## $watch登録数 約**23,000**

*※プロジェクト360件表示時*
</script>

<script layout invert type="text/x-markdown"
  backface="image/prott-groups.png" backface-filter="blur(1px) brightness(.4)">
## グループ画面は・・・？

*※ メンバー102名・プロジェクト360個・グループ22個の場合*
</script>


<script layout invert type="text/x-markdown" backface="image/prott-groups-real.png">
</script>


<script layout invert type="text/x-markdown" backface="image/baba--n.png">
</script>


<script layout="bullets-invert" type="text/x-markdown"
  backface="image/nya.jpg" backface-filter="blur(1px) brightness(.5)">
## どうしてこうなった
</script>


<script layout="bullets" type="text/x-markdown">
### 入社5日目の日報

![](image/nippou.png)
</script>


<script layout="bullets-invert" type="text/x-markdown">
なにはともあれ
膨らんだ$watch登録数を減らすには
</script>


<script layout="cover" invert type="text/x-markdown"
  backface="image/don.jpg" backface-filter="blur(2px) brightness(.4)">
#  One Time Binding
</script>


<script layout="bullets-invert" type="text/x-markdown">
##  One Time Binding

* 一度$watchに登録された式の評価が確定したら、  
それ以降の監視を行わない機能。  
* 評価が一度決まれば二度と変動しない式に使用することで  
パフォーマンスを改善できる
</script>


<script layout="code" type="text/x-markdown">
##  One Time Binding

```javaScript
// 更新される可能性がある(監視が必要)
{{project.name}}

// 更新されない(監視が不要)
{{::project.createdAt}}
```

ng-bindなどのディレクティブでも同様。  
※ ただし使えるのはAngularJS 1.3以降
</script>


<script layout="bullets" type="text/x-markdown">
当時のProttはAngularJS 1.2
</script>


<script layout="bullets-invert" type="text/x-markdown"
  backface="image/nya.jpg" backface-filter="blur(1px) brightness(.5)">
## だめじゃん
</script>


<script layout="bullets" type="text/x-markdown">
ということで最初の仕事は  
AngularJSのバージョンアップになりました
</script>


<script layout="bullets-invert" type="text/x-markdown">
### AngularJS 1.2 → 1.3 の主要な注意点

* ``'false'`` ``'0'`` ``'no'`` ``'n'`` ``'f'`` ``'[]'`` がfalsyでなくなる
  * JS同様、``false`` ``null`` ``undefined`` ``NaN`` ``0`` ``""`` のみ falsyに
* $animateの仕様変更によりCSSにも修正が必要
* Directiveのreplaceが非推奨に
* IE8が対象外に

*その他：[AngularJS: Migrating from 1.2 to 1.3 日本語訳](http://angularjsninja.com/blog/2014/10/15/migrating-from-1.2-to-1.3-in-Japanese/)*
</script>


<script layout="bullets" type="text/x-markdown">
意外とすんなり上げられました  


むしろ同時にCoffeeScriptのバージョンを  
上げたことによるエラーの方が多かった
</script>


<script layout="bullets" type="text/x-markdown">
## 言語とフレームワーク
## 同時バージョンアップ
## ダメ絶対

*切り分けが面倒なので*
</script>


<script layout="bullets" type="text/x-markdown">
### バージョンも上がったので
### One Time Bindingを適用
　
### 60,000からどこまで減るかな？
</script>


<script layout="code" type="text/x-markdown">
### まずは[angular-translate](https://angular-translate.github.io/)に一括適用

多言語対応のためPrott上のテキストは  
すべてangular-translateを通していますが  
filterなので毎回評価されてしまいます。  
One Time Bindingで回避できます

```javaScript
.title {{"USER_DIALOG.MY_ACCOUNT" | translate}}
// ↓
.title {{::"USER_DIALOG.MY_ACCOUNT" | translate}}
```

*専用ディレクティブも：[angular-translate-once](http://atticuswhite.com/blog/angularjs-translate-once-angular-translate-one-time-binding/)*
</script>


<script layout="code" type="text/x-markdown">
### 残りは目視で<br>複数回の$watchが不要なところに適用

セミコロンをふたつつけるだけの  
簡単なお仕事です
</script>


<script layout="bullets-invert" type="text/x-markdown"
  backface="image/nyanto.jpg" backface-filter="blur(1px) brightness(.5)">
## なんとこれで
</script>


<script layout="bullets" type="text/x-markdown"
  backface="image/don.jpg" backface-filter="blur(2px) brightness(1.2)">
## グループ画面
## 約60,000 → **約27,000**

　

## **驚きの55% OFF**
</script>


<script layout="bullets" type="text/x-markdown">
## 次の手

* ng-hide → ng-if
</script>


<script layout="bullets-invert" type="text/x-markdown">
### ng-hide → ng-if

* ng-hide
  * 要素はずっとあるけどdisplay: none; で見えなくする  
* ng-if
  * 要素自体がHTML内から消えたり復活したりする

非表示にするのが大きめのブロックなら  
評価対象が消えるng-ifを使うと軽くできます

※ ng-ifはChild Scopeを作り出すことに要注意
</script>

<!--
<script layout="code" type="text/x-markdown" class="m0">
### ng-repeat内のイベントハンドラを駆逐

ng-repeatで数百件ぐらい回す中にいくつもng-clickなどの  
イベントハンドラがあると**めちゃ重**になりがち

```html
<ul>
  <li ng-repeat="item in items">
    <span ng-click="hogeAction(item.name)">{{item.name}}</span>
    <span ng-click="fugaAction(item.obj)">{{item.obj}}</span>
  </li>
</ul>
```
</script>


<script layout="code" type="text/x-markdown" class="m0">
親の要素ひとつだけにイベントを指定して、  
コールバックの中で対象要素を絞り込むことで回避できる

```html
<ul>
  <li ng-repeat="item in items" ng-click="action($event)">
    <span data-name="{{item.name}}">{{item.name}}</span>
    <span data-index="{{$index}}">{{item.obj}}</span>
  </li>
</ul>
```

```javascript
```
</script>
-->


<script layout="bullets-invert" type="text/x-markdown"
  backface="image/nyanto.jpg" backface-filter="blur(1px) brightness(.5)">
## なんとこれで
</script>


<script layout="bullets" type="text/x-markdown"
  backface="image/don.jpg" backface-filter="blur(2px) brightness(1.2)">
## グループ画面
## 約27,000 → **約1,700**

　

## **驚きの94% OFF**
</script>


<script layout="bullets-invert" type="text/x-markdown">
# 最終的に
</script>


<script layout="bullets" type="text/x-markdown"
  backface="image/don.jpg" backface-filter="blur(2px) brightness(1.2)">
## グループ画面
## 約60,000 → **約1,700**

　

## **驚きの97% OFF**

目標だった2,000を下回ったよ！
</script>


<script layout="bullets-invert" type="text/x-markdown">
## まとめ
</script>


<script layout="bullets" type="text/x-markdown">
### 肥大した$watch登録数の対処

* One Time Binding
  * AngularJS 1.3〜
  * angular-translateをざざっと
  * 他のところは目視でがんばる
* ng-hide → ng-if
  * 色々ついて重たい要素をng-ifで消せると軽くなる
  * Scopeが1階層増えるので要注意
</script>


<script layout="bullets" type="text/x-markdown">
### $watch対策以外にも色々しました

そちらは最後のセッションで！
</script>


<script layout="bullets" type="text/x-markdown">
## 今後もどんどん
## 軽くしていきます！！
</script>

<!--
* リンク色明るくする
* ng-ifにするときScope要注意
* 最終的な差をグラフ
  * 約-98%
* $digest loopの話はスライド入れる
* Wachについても
  * ここに双方向バインディングとダイジェストループの説明入れるか悩む。→いれる
-->


<script layout="cover" invert type="text/x-markdown"
  backface="image/nya.jpg" backface-filter="blur(1px) brightness(.5)">
# Thank you
[@yoshiko_pg](http://yoshiko-pg.github.io/)
</script>


<script src="lib/highlight.min.js"></script>
<script src="lib/talkie.min.js"></script>
<script>
Talkie();

// リンクは別タブ
var i, links = document.querySelectorAll("a[href^='http']")
for(i=0; i<links.length; i++) {
  links[i].setAttribute('target', '_blank');
}
</script>
</script>
</body>
</html>
