doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
    title りもこん
    link(rel='stylesheet', href='./dest/sp.css')
  body
    h1 Extreme lightning talk with Milkcocoa
    p.author @yoshiko_pg
    .remocon
      .reactions.showing
        .reaction-box: button.reaction-btn(value='www') www
        .reaction-box: button.reaction-btn(value='like') +1
        .reaction-box: button.reaction-btn(value='kwsk') kwsk
        .reaction-box: button.reaction-btn(value='cheer') \cheer/
      .vote
        form(class="ac-custom ac-radio ac-circle" autocomplete="off")
          ul

      form.comment-box(onsubmit="window.send()")
        input.comment#comment(type="text", placeholder="any comment?")
        button.send(type="submit") send

    script(src='https://cdn.mlkcca.com/v2.0.0/milkcocoa.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.73/Bacon.min.js')
    script(src='./lib/modernizr.custom.js')
    script(src='./lib/svgcheckbx.js')
    script(src='./dest/sp.js')
    script.
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
